.containedBtn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #9643aa;
  cursor: pointer;
  text-align: center;
  font-family: MuseoSans;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 12px;
  text-transform: none;
  color: #ffffff;
  border-radius: 4px;
  padding: 0 1.25rem;
  border: none;
  flex-direction: row-reverse;
  width: 420px;

  margin: 0 16px 16px 0;
  text-decoration: none;
  transition: box-shadow 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}
  
.containedBtn:hover,
.containedBtn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
  
.containedBtn:active {
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: translateY(4px);
}
.containedBtn:disabled {
background: #bababa;
cursor: not-allowed;
transform: unset;
}
.containedBtn:disabled:hover {
  background: #bababa;
  cursor: not-allowed;
  box-shadow: none;
}

.containedBtn > svg {
  height: 23px;
  width: 23px;
  margin-left: 8px;
}

.block {
  width: 100%;
}

.text {
  text-transform: none;
  padding-top: 18px;
  padding-bottom: 16px;
}