.loadingSpinner {
    transform-origin: 50% 50%;
    animation: rotate-spinner 0.5s infinite linear;
}
  
@keyframes rotate-spinner {
    0% {
      transform: translate3d(0, 0, 0) rotate(0deg);
    }
    100% {
      transform: translate3d(0, 0, 0) rotate(360deg);
    }
}
  